<div class="container box-pages p-5" *ngIf="moviesDataLoader && (authService.isLoggedIn$ | async)">



  <table class="welcometable">
    <tr >

        <td>
          <div class="film" style="background-image: url({{film1Path}})"></div>
          <br>
          <button class="btn btn-primary mr-5" [routerLink]="['/dashboard']">Back</button>
        </td>


        <td >
          <div class="film" style="background-image: url({{film2Path}})"></div>
          <button class="btn btn-primary mr-5" [routerLink]="['/dashboard']">Back</button>
        </td>


    </tr>
  </table>

</div>

<app-mustbelogged></app-mustbelogged>
