<div class="container box-pages p-5" *ngIf="moviesDataLoader">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Title</th>

        <th scope="col">Photos</th>
        <th scope="col">Vote Average</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entry of resultsApi; let i = index" (click)="goToMovieDatabaseDetails(entry.id)" >
        <th scope="row"> {{entry.title}}</th>
        <td><img src="https://image.tmdb.org/t/p/w200{{entry.backdrop_path}}"></td>
        <td>{{entry.vote_average}}</td>

      </tr>
    </tbody>
  </table>
</div>
<app-loading-screen *ngIf="!moviesDataLoader"></app-loading-screen>

