<div class="wrapper">
  <div class="form" *ngIf='!(authService.isLoggedIn$ | async)'>
    <div class="title">
      Login To The Net Fish
    </div>

    <div class="input_wrap">
      <label for="input_text">Email or Username</label>
      <div class="input_field">
        <input type="text" class="input" id="input_text" required [(ngModel)]="authService.usernameInput">
      </div>
    </div>
    <div class="input_wrap">
      <label for="input_password">Password</label>
      <div class="input_field">
        <input type="password" class="input" id="input_password" required [(ngModel)]="authService.passwordInput">
      </div>
    </div>
    <div class="input_wrap">
      <span class="error_msg">Incorrect username or password. Please try again</span>
      <button type="submit" class="btn btn-outline-dark btn-lg px-5" value="Login"
        (click)='authService.login()'>Login</button>
    </div>

  </div>
  <div class=" py-5 h-100 justify-content-center align-items-center "*ngIf='authService.isLoggedIn$ | async'>
    <div class="card  text-black" style="border-radius: 1rem;">
      <div class="p-5 text-center">
        <div >
          <div class=" text-center">
            <label class="form-label">Ciao {{authService.userLogged$}}! Vuoi gia' uscire?</label>
          </div>
          <div class=" text-center">
            <button class="btn btn-outline-dark btn-lg px-5" type="submit" (click)='authService.logout()'>Log
              Out</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
