.pointer{
  cursor: pointer;
}
.distance{
  margin-top: 3rem !important;
}
.col-sm-10, .col-sm-2{
  position: inherit;
}
@media (max-width: 1192px){
  .col-sm-10{
   margin-top: 10px;
   width: 100%;
  }
}

@media (max-width: 1192px){
    .genre{
      padding-top: 10px;
    }
}
@media (max-width: 576px){
  .genre{
    padding-left:46%;
  }
}
.table{
  border-color: #454d55;
  border: 0.5px solid;
}

