/* You can add global styles to this file, and also import other style files */


body{
  background-color: rgba(46, 40, 40, 0.329);
  background-size: 100%;
  font-family: GrowingGarden;
  letter-spacing: 1.5px;
  display:flex;
  flex-direction:column;
}

/*url('httpsi.ibb.co19mzB1Rdark-abstract-black-minimal-1596927735.jpg');*/

.box-pages{
  height: auto;
  margin-top: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.row{
  text-align: center;
}
